body{
    padding: 0;
    margin: 0;
}

.square {
    height: 1000px;
    width: 1000px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    border-radius: 50%;
    height: 700px;
    width: 700px;
    background-color: rgb(216, 15, 199);
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    body {
        & .square{
            height: 500px;
            width: 500px;
            background-color: chocolate;

            & .circle{
            height: 350px;
            width: 350px;
            background-color: rgb(30, 210, 39);
            }

        }
    }
}